/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.page_header__bcQ8x {
  background-color: #7681df;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 60px;
  position: fixed; /* make the header position fixed */
  top: 0; /* stick the header to the top of the page */
  left: 0; /* stick the header to the left of the page */
  right: 0; /* stretch the header to the right of the page */
  border-bottom: 2px solid black; /* add a black border below the header */
  z-index: 10;
}



.page_logo__DgL_7 img {
  margin-bottom: 20px;
  height: 130px;

}

.page_nav__SoR8z ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page_nav__SoR8z li {
  margin: 0 10px;
}

.page_nav__SoR8z {
  margin-right: auto;
}

.page_nav__SoR8z a {
  font-family: 'Raleway', sans-serif;
  color: black; 
  text-decoration: none;
  font-weight: 100;
  font-size:larger;
  transition: color 0.2s ease-in-out;
}

.page_nav__SoR8z a:hover {
  color: #555; 
}

.page_login__0TaLO a {
  background-color: #7681df;
  color: black;
  padding: 10px;
  border-radius: 0;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  border: 1px solid rgba(0, 0, 0, 1); /* add a light black border */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.page_login__0TaLO a:hover {
  background-color: black;
  color: white;
}

.page_main__WunS6 {
margin-top: 100px;
}

.page_welcome__QZQlK {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
height: 300px;
overflow: hidden;
}

.page_welcome__QZQlK img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.4;
  width: 100%;
  height: auto;
  padding: 20% 0;
}

.page_welcome__QZQlK h1 {
font-size: 32px;
font-family: 'Raleway', sans-serif;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

@media only screen and (max-width: 600px) {
  .page_welcome__QZQlK h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .page_welcome__QZQlK h1 {
    font-size: 10px;
  }
}

.page_introduction__1HBdi {
  text-align: center;
  margin-top: 30px;
}

.page_introduction__1HBdi h2 {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

.page_introductionText__PoviI {
  text-align: left;
  margin-top: 20px;
}

.page_introductionText__PoviI p {
  font-family: Raleway, sans-serif;
  margin: 0 auto;
  max-width: 600px;
}


.page_avenues__iohrD {
  text-align: center;
  margin-top: 30px;
}

.page_avenues__iohrD h2 {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

.page_card-container__ZauDV {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards */
}

.page_card__iAZT9 {
  border: 2px solid black;
  background-color: #D9D9D9;
  display: flex;
  margin: 20px;
  padding: 10px;
  width: 60%;
 
}

.page_card-image__GXhB1 {
  max-width: 240px;
  margin-right: 10px;
}

.page_card-title__CfWHG {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.page_card-text__PB5cW {
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.page_contactUs___AMVK {
  text-align: center;
  margin-top: 30px;
}

.page_contactUs___AMVK h2 {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

.page_social-icons__nCpan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.page_social-icons__nCpan a {
  display: inline-block;
  margin: 0 10px;
}

.page_social-icons__nCpan img {
  width: 40px;
  height: 40px;
}


/* Login css */


.page_container___c__5 {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 400px;
}

.page_left-column__tjXRR {
  width: 50%;
  height: 100%;
  background-image: url(/_next/static/media/WelcomeImage.55239bed.png);
  background-size: cover;
  opacity: 0.4;
}

.page_left-column__tjXRR h2{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,50%);
  text-align: center;
  color: black;
  max-width: 40%;
}

.page_right-column__GJNlT {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.page_right-column__GJNlT h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.page_right-column__GJNlT form {
  display: flex;
  flex-direction: column;
}

.page_right-column__GJNlT label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.page_right-column__GJNlT input[type="text"],
.page_right-column__GJNlT input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.page_right-column__GJNlT input[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.page_right-column__GJNlT button:hover {
  background-color: #555;
}

#page_popup__SnXpW {

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
border: 1px solid black;
padding: 10px;

}

#page_popup__SnXpW p{
color: red !important;
}

/* submit paper css*/
.page_submitPaper__TwUTn, .page_reviewPaper__Ll9sn{
margin: auto;
width: 50%;
padding: 10px;
/* border: 2px green solid; */
}

#page_form-btn__WTfV2{
display: flex;
justify-content: center;
margin: 10px 0px;
padding: 10px;
outline: 0;
border: 0;
width: 80%;
border-radius: 5px;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer;
background-color: #7681df;
color: #fff;
}

.page_textInput___OGBX{
border: none;
border-bottom: 1px solid grey;
margin-bottom: 10px;
width: 100%;
}
.page_checkbox__TYDCo ,.page_submitButtons__pdISH{
margin-left: 30px;
}
.page_heading__aVzaA{
text-decoration: underline;
font-weight: bold;
padding-bottom: 10px;
}

/* submit css*/

.page_reviewPaper__Ll9sn button{
margin-left: 20px;
padding: 10px;
outline: 0;
border: 0;
border-radius: 5px;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer;
background-color: #7681df;
color: #fff;
}

.page_researchPaper__nJkmw{
display: flex;
flex-wrap: wrap;
}

.page_researchPaper__nJkmw h3{
padding: 10px;
}

.page_researchPaper__nJkmw p{
margin-left: 10px;
}

.page_table__NWF7L, .page_th__mhxvN, .page_td__QWjYg {
border: 1px solid black;
border-collapse: collapse;
margin-top: 50px;
}

.page_th__mhxvN, .page_td__QWjYg {
padding: 5px;
text-align: left;
}

.page_form__KxpXI {
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Raleway', sans-serif;
}

#page_submit-btn__Vt7y5{
display: flex;
justify-content: center;
margin: 10px 0px;
padding: 10px;
outline: 0;
border: 0;
width: 80%;
border-radius: 5px;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer;
background-color: #7681df;
color: #fff;
}

.page_textarea__ROEUr {
box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
border: none;
background-color: #fff;
padding: 10px;
border-radius: 5px;
width: 80%;
margin: 10px 0;
}

.page_textarea__ROEUr:focus {
box-shadow: inset 0 0 10px rgba(0,0,0,0.2), 0 0 10px rgba(0,0,0,0.2);
outline: none;
}

.page_textarea__ROEUr::placeholder {
font-style: italic;
color: #a9a9a9;
}
